.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    position: relative;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    margin: 0;
}

.close {
    font-size: 1.5rem;
    cursor: pointer;
}

.popup-body {
    max-height: 70vh;
    overflow-y: auto;
}

.popup-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.space-popup {
    margin-bottom: 15px;
}

.space-popup label {
    display: block;
    margin-bottom: 5px;
}

.space-popup input,
.space-popup select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-popup {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.btn {
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-primary {
    background-color: #0149CD;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.btn-danger {
    background-color: #F24405;
}

.btn:hover {
    opacity: 0.7;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: #0149CD;
    box-shadow: 0 0 5px rgba(1, 73, 205, 0.5);
}