/* Đặt một số kiểu chung cho toàn bộ form */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Đặt kiểu cho từng nhóm div chứa input và label */
form div {
  margin-bottom: 15px;
}

/* Đặt kiểu cho label */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Đặt kiểu cho input và select */
form input[type="text"],
form input[type="password"],
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Đặt kiểu cho button */
form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0149cd; /* Màu xanh đậm cho nút đăng ký */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

form button[type="submit"]:hover {
  background-color: #1349af;
}

/* Kiểu cho tiêu đề của form nếu có */
form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Đặt một số kiểu cho responsive */
@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  form input[type="text"],
  form input[type="password"],
  form select {
    padding: 8px;
  }

  form button[type="submit"] {
    padding: 8px;
    font-size: 14px;
  }
}

/* Kiểu riêng cho trang đăng nhập */
.login-form {
  background-color: #f0f0f0; /* Màu nền nhạt hơn cho trang đăng nhập */
}

/* Đặt kiểu cho button trong trang đăng nhập */
.login-form button[type="submit"] {
  background-color: #0149cd; /* Màu xanh đậm cho nút đăng ký */
  /* Màu cam cho nút đăng nhập */
}

.login-form button[type="submit"]:hover {
  background-color: #1349af;
}
/* .login-form h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #333;
} */
